<footer class="bg-dark text-light py-4 mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>Chinook Music Store</h5>
        <p class="mb-0">Your premier destination for digital music.</p>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <h6>Quick Links</h6>
            <ul class="list-unstyled">
              <li><a href="#" class="text-light text-decoration-none">Home</a></li>
              <li><a href="#" class="text-light text-decoration-none">Browse Music</a></li>
              <li><a href="#" class="text-light text-decoration-none">Support</a></li>
            </ul>
          </div>
          <div class="col-md-6">
            <h6>Contact</h6>
            <p class="mb-0 small">Email: info@chinook.com</p>
            <p class="mb-0 small">Phone: (555) 123-4567</p>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-3">
    <div class="row">
      <div class="col-12 text-center">
        <p class="mb-0 small">&copy; 2025 Chinook Music Store. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
