<mat-card class="h-100 overflow-hidden">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon class="text-primary">music_note</mat-icon>
    </div>
    <mat-card-title class="text-wrap lh-base fs-6 mb-1">{{ track.Name }}</mat-card-title>
    <mat-card-subtitle class="text-wrap lh-base small mb-0"><span class="text-muted">Artist:</span> {{ track.Composer || 'Unknown Artist' }}</mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>
    
    <div class="d-flex justify-content-between align-items-center mb-2 flex-wrap">
      <small class="text-muted">Duration</small>
      <mat-chip color="accent">{{ track.Milliseconds | duration }}</mat-chip>
    </div>
    
    <div class="d-flex justify-content-between align-items-center flex-wrap">
      <small class="text-muted">Price</small>
      <span class="fw-bold text-success fs-5">${{ track.UnitPrice }}</span>
    </div>
  </mat-card-content>
  
  <mat-card-actions class="d-flex justify-content-end flex-wrap">
    <button mat-icon-button 
            [color]="isInCart() ? 'primary' : 'accent'" 
            [matTooltip]="isInCart() ? 'Remove from cart' : 'Add to cart'"
            (click)="toggleCart()">
      <mat-icon [class]="isInCart() ? 'text-primary' : ''">
        {{ isInCart() ? 'shopping_cart' : 'add_shopping_cart' }}
      </mat-icon>
    </button>
    <button mat-icon-button matTooltip="More Info" (click)="openTrackInfo()">
      <mat-icon>info</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
